        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }


        body {
            display: grid;
            place-items: center;
            height: 100vh;
            background-color: #141414;
        }


        .rotate-point {
            position: relative;
            width: 10px;
            height: 10px;
            perspective: 250px;
        }


        .carousel {
            transform-style: preserve-3d;
            transform: rotateY(0deg) rotateX(20deg);
            animation: rotate 20s infinite linear;
        }


        .cell {
            position: absolute;
            width: 1em;
            display: grid;
            place-items: center;
            font-size: 5vw;
            text-align: center;
            font-weight: 900;
            color: #dfff00;
            text-transform: uppercase;
            backface-visibility: visible;
            transform: rotateY(calc(var(--i) * 15deg)) translateZ(150px);
        }


        @keyframes rotate {
            100% {
                transform: rotateY(-360deg) rotateX(20deg);
            }
        }
    